In [16]:
print("Hello, World")
print("Hello", "World")
print("Hello","World")
print("Hello" + "World")
print("Name ", "Alice", "Age: ", "25")
print(1)
print('1')
print("apple","banana","cherry")
print("apple","banana","cherry", sep=',')
print("apple","banana","cherry", sep=";")
print("apple","banana","cherry", sep="; ")

Hello, World
Hello World
Hello World
HelloWorld
Name  Alice Age:  25
1
1
apple banana cherry
apple,banana,cherry
apple;banana;cherry
apple; banana; cherry

In [23]:
print("Hello", end="\n")
print("World")

Hello
World

In [18]:
print("Hello", end=" ")
print("World")

Hello World

In [19]:
print("Hello", end="\b")
print("World")

HellWorld

In [20]:
print("Hello", end="\t")
print("World")

Hello	World

In [21]:
print("Line1\nLine2\tTabbed")

Line1
Line2	Tabbed

In [26]:
name = "Ravi"
age = 20

print("He is " + name + " and he is " + str(age) + " years old")
print("He is " + name + " and he is " + age + " years old")

He is Ravi and he is 20 years old

TypeError: can only concatenate str (not "int") to str

In [33]:
pi=3.1429
print(pi)
print(f"pi : {pi:.3f}")

3.1429
pi : 3.143

In [35]:
print("Hi 'there'!")

Hi 'there'!

In [42]:
print("""Hi
how are you
I am good""")

Hi
how are you
I am good

In [46]:
s5 =96/10
print(s5)
s6 = int(s5)
print(s6)

9.6
9

In [49]:
x1 = 5
x2 = 0.5
x3 = '5'
x4 = "5"
x5 = 5j
x6 = True
x7 = False
x8 = 'True'
x9 = -1
x10 = 0
x11 = -3.5
x12 = 1e-5   # 1 X 10^(-5)
print(x1, type(x1))
print(x2, type(x2))
print(x3, type(x3))
print(x4, type(x4))
print(x5, type(x5))
print(x6, type(x6))
print(x7, type(x7))
print(x8, type(x8))
print(x9, type(x9))
print(x10, type(x10))
print(x11, type(x11))
print(x12, type(x12))

5 <class 'int'>
0.5 <class 'float'>
5 <class 'str'>
5 <class 'str'>
5j <class 'complex'>
True <class 'bool'>
False <class 'bool'>
True <class 'str'>
-1 <class 'int'>
0 <class 'int'>
-3.5 <class 'float'>
1e-05 <class 'float'>

In [1]:
# H.W.: read number system
# binary, decimal, octal, hexa-decimal
# System	Used for
# Binary	Computer memory, bit operations
# Decimal	Human readable numbers
# Octal	File permissions (Linux: 755, 644)
# Hexadecimal	Memory addresses, colors, hashes

In [4]:
n=10
b=
bin(n)        # decimal → binary
oct(n)        # decimal → octal
hex(n)        # decimal → hex
int(str, b)   # any base → decimal

TypeError: 'builtin_function_or_method' object cannot be interpreted as an integer