In [2]:
#pandas movie lens project
import pandas as pd
import numpy as np
df_movies = pd.read_csv(r'C:\Users\399sh\Downloads\Learning\ml-latest-small\movies.csv')
df_links = pd.read_csv(r'C:\Users\399sh\Downloads\Learning\ml-latest-small\links.csv')
df_ratings = pd.read_csv(r'C:\Users\399sh\Downloads\Learning\ml-latest-small\ratings.csv')
df_tags = pd.read_csv(r'C:\Users\399sh\Downloads\Learning\ml-latest-small\tags.csv')
print(df_movies.head())
print(df_links.head())
print(df_ratings.head())
print(df_tags.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [62]:
# dim_movie:
# movie_id (int)
# title (string)
# release_year (int, parsed from title like “(1995)”)
# imdb_id, tmdb_id
# genres as:
# either genre_list (python list as string)
# AND/OR a bridge table (below)

dim_movie = df_movies.merge(df_links, on ="movieId", how='inner')
dim_movie['release_year']=dim_movie['title'].str.split().str[-1].replace('[()]','', regex=True)
dim_movie['title'] = dim_movie['title'].str.split().str[:-1].str.join(' ')
dim_movie['genres']=dim_movie['genres'].str.split("|")
print(dim_movie.head())
bridge_movie_genre = dim_movie[['movieId', 'genres']]
bridge_movie_genre = (dim_movie[['movieId', 'genres']].explode('genres').rename(columns={'genres': 'genre'}))
bridge_movie_genre.head()

   movieId                        title  \
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

                                              genres  imdbId   tmdbId  \
0  [Adventure, Animation, Children, Comedy, Fantasy]  114709    862.0
1                     [Adventure, Children, Fantasy]  113497   8844.0
2                                  [Comedy, Romance]  113228  15602.0
3                           [Comedy, Drama, Romance]  114885  31357.0
4                                           [Comedy]  113041  11862.0

  release_year
0         1995
1         1995
2         1995
3         1995
4         1995

   movieId      genre
0        1  Adventure
0        1  Animation
0        1   Children
0        1     Comedy
0        1    Fantasy

In [ ]:
************************
# dim_user
# user_id (int)
# first_seen_ts (min rating timestamp)
# last_seen_ts (max rating timestamp)
# activity_days (# distinct rating dates)
# bridge_movie_genre
# movie_id
# genre (explode pipe-separated genres)
******************************
# 3) Fact tables
# fact_rating<<
# user_id
# movie_id
# rating
# rated_at (timestamp → UTC datetime)
# rated_date (date)
# load_date (today)
# fact_tag<<
# user_id
# movie_id
# tag
# tagged_at
# basic cleaning: trim, lowercase, collapse multiple spaces
****************************
# Transformations + Data Quality Checks (must-do)
# Do these like a senior engineer:
# A) Schema & type enforcement
# Ensure IDs are ints (nullable ints OK), rating float
# Convert unix timestamps to datetime
# B) Cleaning rules
# Extract year safely (handle titles without year)
# Genres: split on |, treat “(no genres listed)” as null/empty
# Tags: strip + lowercase + remove empty tags
# C) De-duplication rules
# ratings: keep latest rating per (userId, movieId) based on timestamp
# tags: drop exact duplicates on (userId, movieId, tag, timestamp)
# D) Integrity checks (print metrics)
# % rows with null movieId/userId
# orphan checks:
# ratings.movieId not in movies.movieId
# tags.movieId not in movies.movieId
# duplicates before/after