In [15]:
import os 
cwd = os.getcwd() 
print("Current working directory:", cwd)

def current_path(): 
    print("Current working directory before") 
    print(os.getcwd()) 
    print() 
current_path() 
os.chdir('../') 
current_path()

Current working directory: C:\Users\399sh
Current working directory before
C:\Users\399sh

Current working directory before
C:\Users

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('customers.csv')
print(df.info())
print(df.describe())
#here we get all info dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   name     100000 non-null  object
 2   email    100000 non-null  object
 3   phone    100000 non-null  object
 4   address  100000 non-null  object
 5   gender   100000 non-null  object
dtypes: object(6)
memory usage: 4.6+ MB
None
                                          id    name                 email  \
count                                 100000  100000                100000
unique                                100000   97507                100000
top     410b7643-868d-4f64-98ca-cd2a86acd83c  #NAME?  bentonboyer@torp.org
freq                                       1    2494                     1

             phone                                          address  gender
count       100000                                           100000  100000
unique       99998                                           100000       2
top     3.3675E+12  8755 South Estatesfurt, San Diego, Nevada 27757       M
freq             2                                                1   99396

In [7]:
print(df[(df['email'] == '') | (df['phone'] == '') | (df['address'] == '')])

Empty DataFrame
Columns: [id, name, email, phone, address, gender]
Index: []

In [19]:
print(df['gender'].value_counts())
print(df.groupby(df['gender']).count())
print(df.groupby('gender').size())
print(df['gender'].value_counts()['M'] / len(df) * 100)
print((df['gender'].value_counts(normalize=True) * 100).round(2))

gender
M    99396
F      604
Name: count, dtype: int64
           id   name  email  phone  address
gender
F         604    604    604    604      604
M       99396  99396  99396  99396    99396
gender
F      604
M    99396
dtype: int64
99.396
gender
M    99.4
F     0.6
Name: proportion, dtype: float64

In [33]:
duplicates = df.groupby('email').size()
print(duplicates[duplicates > 1])
print(df['email'].value_counts()[lambda x: x > 1])
print(df['phone'].value_counts()[lambda x: x > 1])
print(df[df['email'].duplicated(keep=False)])
duplicates = df.loc[df['phone'].duplicated(keep=False),['id','phone']]
print(duplicates)

Series([], dtype: int64)
Series([], Name: count, dtype: int64)
phone
3.3675E+12    2
8.3314E+12    2
Name: count, dtype: int64
Empty DataFrame
Columns: [id, name, email, phone, address, gender]
Index: []
                                         id       phone
8673   a3d3129d-8d9a-41f3-9dee-1bd29d2ae8de  8.3314E+12
17977  dca58a02-519e-4eff-a287-187ac7c95d0b  8.3314E+12
39766  d0a7a951-c02a-4164-9f69-df5e3637e37d  3.3675E+12
63009  60be2b5c-6cb2-4134-a5a8-3950e9789ea9  3.3675E+12

In [12]:
df.head()
df[df['email'].str.endswith('braun.biz',na=False)] ['email']

3             robertoebert@braun.biz
5276           kiarawisoky@braun.biz
6746           kaciecassin@braun.biz
19178     winfielddietrich@braun.biz
25564       edwardomurazik@braun.biz
28125         mariamerdman@braun.biz
28385        arvidschmeler@braun.biz
29818     letitiarodriguez@braun.biz
32018       callieweissnat@braun.biz
38585        magnushegmann@braun.biz
38955            ariellang@braun.biz
39032          iciebradtke@braun.biz
40724        justengoodwin@braun.biz
40820        marquesschumm@braun.biz
41520         coyabernathy@braun.biz
51888       billswaniawski@braun.biz
55348       elizabethlesch@braun.biz
65783        roscoelockman@braun.biz
65870         carolstroman@braun.biz
66771            orendicki@braun.biz
74182      rodgeraufderhar@braun.biz
77687       skyevandervort@braun.biz
77860         jaymebarrows@braun.biz
78515        donavonwillms@braun.biz
79836    michaelvandervort@braun.biz
81436          destinybeer@braun.biz
83252    christophefriesen@braun.biz
85218      scarlettgoldner@braun.biz
86616          kenyaabbott@braun.biz
93241             lucioorn@braun.biz
94009        angelinaebert@braun.biz
95501      lincolnreichert@braun.biz
96027         shanabarrows@braun.biz
Name: email, dtype: object

In [13]:
df_ran = pd.DataFrame(np.random.randn(5,3), columns=['A','B','C'])
df_ran.head()

          A         B         C
0 -0.047895  0.051593  0.715716
1 -0.883852 -1.610675 -0.578060
2 -0.243758  0.022981  0.358643
3 -0.292291 -0.422217  0.201237
4 -1.331514 -1.143148 -0.017030

In [21]:
df_ran['A'] = df_ran['A'].astype(str).str.strip('-').astype(float)
df_ran

          A         B         C
0  0.047895  0.051593  0.715716
1  0.883852 -1.610675 -0.578060
2  0.243758  0.022981  0.358643
3  0.292291 -0.422217  0.201237
4  1.331514 -1.143148 -0.017030

In [27]:
import pandas as pd

list_1 = [1,2,3,4,5]
list_2 = [1,6,7,8,9]

df_1 = pd.DataFrame(list_1, columns=['col_A'])
df_2 = pd.DataFrame(list_2, columns=['col_B'])

In [ ]:
pd.merge(df_1, df_2, left_on='col_A', right_on='col_B', how='inner')

In [ ]:
pd.merge(df_1, df_2, left_on='col_A', right_on='col_B', how='left')

In [ ]:
pd.merge(df_1, df_2, left_on='col_A', right_on='col_B', how='right')

In [ ]:
pd.merge(df_1, df_2, left_on='col_A', right_on='col_B', how='outer')

In [ ]:
df_1.join(df_2, how='inner')

In [ ]:
pd.concat([df_1,df_2], axis=0)

In [ ]:
pd.concat([df_1,df_2], axis=1)