# Operators in Python
operators are special symbols that perform operations on variables and values.

### Types of Operators in Python

1. Arithmetic Operators  
2. Comparison (Relational) Operators  
3. Logical Operators  
4. Assignment Operators  
5. Bitwise Operators  
6. Membership Operators  
7. Identity Operators

# Arithmetic Operators

## 1) Basic Operators

| Operator | Name                | Works With            
|---------:|---------------------|-----------------------
| `+`      | Addition            | int, float, complex   
| `-`      | Subtraction         | int, float, complex   
| `*`      | Multiplication      | int, float, complex   
| `/`      | Division            | int, float, complex   
| `//`     | Floor Division      | int, float            
| `%`      | Modulus (remainder) | int, float         
| `**`     | Exponentiation      | int, float, complex    
---

In [ ]:
a = 5
b = 3.14
c = 2 + 3j
d = "Hello"
e = [1, 2, 3]

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>

In [ ]:
# Addition

# Integer addition
a = 5
b = 3
result = a + b
print(f"Type of a is {type(a)}, Type of b is {type(b)}")
print(f"Integer addition: {a} + {b} = {result}")

Type of a is <class 'int'>, Type of b is <class 'int'>
Integer addition: 5 + 3 = 8

In [ ]:
# Float addition
x = 1.25
y = 4.25
result_float = x + y
print(type(x), type(y))
print(f"Float addition: {x} + {y} = {result_float}")

<class 'float'> <class 'float'>
Float addition: 1.25 + 4.25 = 5.5

In [ ]:
# Mixed type addition (int + float)
mixed_result = a + x
print(type(a), type(x))
print(f"Mixed type: {a} + {x} = {mixed_result}")

# (int promoted to float --> if an arithmetic operation involves both an int and a float, the result is automatically converted into a float)

<class 'int'> <class 'float'>
Mixed type: 5 + 1.25 = 6.25

In [ ]:
# Complex numbers
# Let z1 = a + bj, z2 = c + dj
z1 = 3 + 4j   # a=3, b=4
z2 = 1 + 2j   # c=1, d=2

# Formula:
# (a + bj) + (c + dj) = (a + c) + (b + d)j
# => (3 + 1) + (4 + 2)j
# => 4 + 6j

complex_result = z1 + z2
print("z1 =", z1)
print("z2 =", z2)
print(f"Complex addition: {z1} + {z2} = {complex_result}")
print(type(z1), type(z2))

z1 = (3+4j)
z2 = (1+2j)
Complex addition: (3+4j) + (1+2j) = (4+6j)
<class 'complex'> <class 'complex'>

In [ ]:
# Basic string concatenation
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(type(first_name), type(last_name))
print(f"String concatenation: '{first_name}' + ' ' + '{last_name}' = '{full_name}'")

<class 'str'> <class 'str'>
String concatenation: 'John' + ' ' + 'Doe' = 'John Doe'

In [ ]:
# Basic list concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(type(list1), type(last_name))
print(f"List concatenation: {list1} + {list2} = {combined_list}")

<class 'list'> <class 'str'>
List concatenation: [1, 2, 3] + [4, 5, 6] = [1, 2, 3, 4, 5, 6]

In [ ]:
# Integer multiplication
a = 5
b = 3
result = a * b
print(type(a), type(b))
print(f"Integer multiplication: {a} * {b} = {result}")

<class 'int'> <class 'int'>
Integer multiplication: 5 * 3 = 15

In [ ]:
# Float multiplication
x = 1.2
y = 1.2
result_float = x * y
print(type(x), type(y))
print(f"Float multiplication: {x} * {y} = {result_float}")

<class 'float'> <class 'float'>
Float multiplication: 1.2 * 1.2 = 1.44

In [ ]:
# Mixed type multiplication (int * float)
mixed_result = a * x  # 15.7 (int promoted to float)
print(f"Type of a is {type(a)}, Type of x is {type(x)}")
print(f"Mixed type: {a} * {x} = {mixed_result}")

Type of a is <class 'int'>, Type of x is <class 'float'>
Mixed type: 5 * 1.2 = 6.0

In [ ]:
# Complex numbers
# Let z1 = a + bj, z2 = c + dj
z1 = 3 + 4j   # a=3, b=4 # (a+b)(c+d)
z2 = 1 + 2j   # c=1, d=2

# Formula:
# (a + bj) * (c + dj) = (a*c - b*d) + (a*d + b*c)j
# => (3*1 - 4*2) + (3*2 + 4*1)j
# => (3 - 8) + (6 + 4)j
# => -5 + 10j

complex_result = z1 * z2
print("z1 =", z1)
print("z2 =", z2)
print(f"Complex multiplication: {z1} * {z2} = {complex_result}")
print(f"Type of a is {type(z1)}, Type of x is {type(z2)}")

z1 = (3+4j)
z2 = (1+2j)
Complex multiplication: (3+4j) * (1+2j) = (-5+10j)
Type of a is <class 'complex'>, Type of x is <class 'complex'>

In [ ]:
# String repetition
text = "hello"
result = text * 6
print(type(text))
print(f"String repetition: '{text}' * 3 = '{result}'")

<class 'str'>
String repetition: 'hello' * 3 = 'hellohellohellohellohellohello'

In [ ]:
# List multiplication
l = [1, 2, 3]
result = l * 3
print(type(l))
print(f"List repetition: {l} * 3 = {result}")

<class 'list'>
List repetition: [1, 2, 3] * 3 = [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# Boolean multiplication (True=1, False=0)
print(f"True * 5: {True * 5}")
print(f"False * 5: {False * 5}")
print(f"True * False: {True * False}")

True * 5: 5
False * 5: 0
True * False: 0

In [ ]:
# Multiplication with special values
print(f"inf * 5: {float('inf') * 5}")
print(f"inf * 0: {float('inf') * 0}")
print(f"nan * 5: {float('nan') * 5}")

inf * 5: inf
inf * 0: nan
nan * 5: nan

In [ ]:
# Infinity Representation in Python

# 1) Using float('inf')
pos_inf = float("inf")     # Positive infinity
neg_inf = float("-inf")    # Negative infinity

print("float('inf')  ->", pos_inf)
print("float('-inf') ->", neg_inf)
print("Type:", type(pos_inf))
print("-" * 40)

# 2) Using math.inf
import math

print("math.inf   ->", math.inf)
print("-math.inf  ->", -math.inf)
print("Type:", type(math.inf))
print("-" * 40)

# 3) Using numpy.inf
import numpy as np

print("np.inf   ->", np.inf)
print("-np.inf  ->", -np.inf)
print("Type:", type(np.inf))

float('inf')  -> inf
float('-inf') -> -inf
Type: <class 'float'>
----------------------------------------
math.inf   -> inf
-math.inf  -> -inf
Type: <class 'float'>
----------------------------------------
np.inf   -> inf
-np.inf  -> -inf
Type: <class 'float'>

In [ ]:
print(2 * 3 + 4)        # ?
print(2 + 3 * 4)        # ?
print(2 * 3 * 4)        # ?

10
14
24

In [ ]:
# Basic Division (always returns float)
a = 10
b = 3
result = a // b
print(type(result))
print(f"Regular division: {a} / {b} = {result}")

<class 'int'>
Regular division: 10 / 3 = 3

In [ ]:
# Modulus (remainder)
mod_result = a % b  # 1
print(f"Modulus: {a} % {b} = {mod_result}")

Modulus: 10 % 3 = 1

In [ ]:
# Float division precision
print(1 / 3)
print(2.5 // 0.5)
print(2.5 // 5)
print(10.0 / 3)

# Mixed type division
print(15 / 3.0)
print(7.5 / 2)

0.3333333333333333
5.0
0.0
3.3333333333333335
5.0
3.75

In [ ]:
# Positive numbers
print(10 // 3)         # 3
print(10.5 // 3)       # 3.0
print(15 // 4)         # 3
# Negative numbers (rounds toward -infinity)
print(-9 // 3)        # -4
print(-10.5 // 3)      # -4.0
print(10 // -3)        # -4

3
3.0
3
-3
-4.0
-4

In [ ]:
import math

# Division with infinity
print(5 / float('inf'))
print(float('inf') / 5)
print(float('inf') / float('inf'))

# Division with NaN
print(5 / float('nan'))
print(float('nan') / 5)

0.0
inf
nan
nan
nan

In [ ]:
# Complex Number Division

c1 = 6 + 8j
c2 = 2 + 2j

# Formula: (a + bj) / (c + dj) = [(ac + bd) / (c² + d²)] + [(bc - ad) / (c² + d²)] j
# Here: (6+8j) / (2+2j) = [(6*2 + 8*2) / (2²+2²)] + [(8*2 - 6*2) / (2²+2²)] j
#      = (12+16)/8 + (16-12)/8 j
#      = 28/8 + 4/8 j = 3.5 + 0.5j
result = c1 / c2
print(f"Complex division: {c1} / {c2} = {result}")

# Complex divided by Real
# Formula: (a + bj) / k = (a/k) + (b/k) j
# Here: (6+8j)/2 = 6/2 + 8/2 j = 3 + 4j
result2 = c1 / 2
print(f"Complex by real: {c1} / 2 = {result2}")

Complex division: (6+8j) / (2+2j) = (3.5+0.5j)
Complex by real: (6+8j) / 2 = (3+4j)

In [ ]:
# Boolean values in division (True=1, False=0)
print(10 / True)
print(True / 2)
print(False / 5)

try:
    print(5 / False)   # ZeroDivisionError
except ZeroDivisionError:
    print("Cannot divide by False (0)")

10.0
0.5
0.0
Cannot divide by False (0)

In [ ]:
# Basic integer exponentiation
print(2 ** 3)
print(5 ** 2)
print(10 ** 0)

8
25
1

In [ ]:
# Exponentiation
print(2 ** 2)
print(4 ** 0.5)        # (√2) (square root)
print(8 ** (1/3))      # ∛8 (cube root)
print(8 ** (2/3))      # (8^(2/3) = (∛8)² = 2² = 4)

4
2.0
2.0
3.9999999999999996

In [ ]:
# Negative base
print((-2) ** 3)       # -8
print((-2) ** 4)       # 16

-8
16

In [ ]:
# Floating point precision issues
print(0.1 ** 2)   # Expected: 0.01 # 0.1 cannot be represented exactly in binary floating point and stores it as: 0.10000000000000000555...
print(0.1 ** 3)   # Expected: 0.001

0.010000000000000002
0.0010000000000000002

In [ ]:
'''
Computers work with binary (0s and 1s).

✔ Some numbers (like 1/2 = 0.5) can be represented exactly in binary.

✘ Other numbers (like 0.1) cannot be represented exactly —
   they turn into an infinite repeating binary fraction.
'''
# print(1/10)
# print(format(1/10, ".50f"))


# Solution
print(round(0.1 + 0.2, 2))   # 0.3

0.3

In [ ]:
c = 1 + 2j
print(c ** 2)          # (-3+4j)
print(c ** 0.5)        # (1.272... + 0.786...j)

(-3+4j)
(1.272019649514069+0.7861513777574233j)

In [ ]:
### 1. Arithmetic Operators
a, b = 9, 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 12
Subtraction: 6
Multiplication: 27
Division: 3.0
Floor Division: 3
Modulus: 0
Exponentiation: 729

### 2) Comparison (Relational) Operators

| Operator | Meaning                  |
|----------|---------------------------|
| `==`     | Equal to                  |
| `!=`     | Not equal to              |
| `>`      | Greater than              |
| `<`      | Less than                 |
| `>=`     | Greater than or equal to  |
| `<=`     | Less than or equal to     |

In [ ]:
# Equal to
print(5 == 5)
print(5 == 3)

# Not equal to
print(5 != 3)
print(5 != 5)

# Greater than
print(5 > 3)
print(3 > 5)

# Less than
print(3 < 5)
print(5 < 3)

# Greater than or equal to
print(5 >= 5)
print(5 >= 3)
print(3 >= 5)

# Less than or equal to
print(3 <= 3)
print(3 <= 5)
print(5 <= 3)

True
False
True
False
True
False
True
False
True
True
False
True
True
False

In [ ]:
# Floating point
print(0.1 + 0.2 == 0.3)           # False # 0.1 and 0.2 cannot be represented exactly in binary floating point. it actually computes 0.1 + 0.2 = 0.30000000000000004
print(0.1 + 0.2)                  # 0.30000000000000004

# Special float values
print(float('inf') == float('inf'))    # True
print(float('-inf') == float('-inf'))  # True
print(float('nan') == float('nan'))    # False (NaN is never equal to itself)

False
0.30000000000000004
True
True
False

In [ ]:
print("z" > "apple")             # True ('z' comes after 'a') [String length doesn't determine order]
print("abc" < "abcd")            # True (shorter strings come first)

# Case sensitivity
print("Hello" == "hello")        # False
print("Hello".lower() == "hello".lower())  # True

print("apple" < "banana")        # True
print("apple" == "apple")        # True
print("Apple" < "apple")         # True (uppercase < lowercase)

True
True
False
True
True
True
True

In [ ]:
# Element-wise comparison
print([1, 2, 3] == [1, 2, 3])    # True
print([1, 2, 3] == [1, 3, 2])    # False

True
False

In [ ]:
print([1, 2] < [1, 2, 3])        # (shorter list comes first)
print([1, 2, 3] < [1, 2, 4])     # (3 < 4)
print([1, 10] > [2, 1])          # Compares first elements: 1 < 2 → so the whole list is smaller, no need to check 10 vs 1.

True
True
False

In [ ]:
# Different numeric types
print(5 == 5.0)
print(5 == 5.000000000000001)

True
False

In [ ]:
# Numbers and strings
print(5 == "5")
print(5 == int("5"))

False
True

In [ ]:
print(True == 1)
print(False == 0)
print(True == 2)

True
True
False

In [ ]:
x = 5
print(3 < x < 7)
print(1 < x < 3)

y = 10
print(5 < x < 8 < y < 15)

print(1 <= x <= 10)

True
False
False
True

In [ ]:
# is vs ==
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print(a == b)                    # True (same content)
print(a is b)                    # False (different objects)
print(a is c)                    # True (same object)

# None comparisons
x = None
print(x is None)                 # True
print(x == None)                 # True (but use 'is' for None)

True
False
True
True
True

In [ ]:
### 2. Comparison (Relational) Operators
x, y = 7, 5

print("Equal to (x == y):", x == y)
print("Not equal to (x != y):", x != y)
print("Greater than (x > y):", x > y)
print("Less than (x < y):", x < y)
print("Greater than or equal (x >= y):", x >= y)
print("Less than or equal (x <= y):", x <= y)

Equal to (x == y): False
Not equal to (x != y): True
Greater than (x > y): True
Less than (x < y): False
Greater than or equal (x >= y): True
Less than or equal (x <= y): False

# Logical Operators

| Operator | Name          | Description / Works With            
|----------|---------------|-----------------------------------
| `and`    | Logical AND    | Returns True if **both operands** are True; works with bool expressions
| `or`     | Logical OR     | Returns True if **at least one operand** is True; works with bool expressions
| `not`    | Logical NOT    | Reverses the Boolean value; works with a single bool expression

In [ ]:
# Basic AND operations
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# Short-circuit behavior of "and":
# In Python, the "and" operator evaluates expressions left to right.
# - It stops evaluating as soon as it finds a False (falsy) value (short-circuit).
# - If all values are True (truthy), it returns the last evaluated value.

print(0 and 5)
# 0 → The first value (0) is false, so Python stops here and returns 0.

print(3 and 0)
# 0 → The first value (3) is true, so Python evaluates the second value (0).

print(2 and 3)
# 3 → Both values are true, so Python returns the **last value** (3).

print("" and "hello")
# "" → The first value is an empty string, which is falsy.
# Python stops immediately and returns "", without evaluating "hello".

print("Hi" and "hello")

0
0
3

hello

In [ ]:
name = "Alice"
age = 25

result = name and age >= 18 # >= has higher precedence in python
print(result)

True

In [ ]:
# Basic OR operations
print(True or True)     # True
print(True or False)    # True
print(False or True)    # True
print(False or False)   # False

True
True
True
False

In [ ]:
# In Python, the "or" operator evaluates expressions left to right.
# - It stops evaluating as soon as it finds a True (truthy) value.
# - If all values are False (falsy), it returns the last evaluated value.

print(0 or 5)
# 5 → The first value (0) is falsy, so Python evaluates the second value (5).
# 5 is true, so it returns 5 immediately.

print(3 or 0)
# returns 3 immediately without checking 0.

print(0 or "" or None or 7)
print(0 or "" or None)

5
3
7
None

In [ ]:
username = "" or "guest"
print(username)

config = {}
port = config.get('port') or 8080
print(port)

def get_data():
    return None

data = get_data() or [] # Both are falsy, but last operand
print(data)

guest
8080
[]

In [ ]:
# Basic NOT operations
print(not True)         # False
print(not False)        # True

# With various data types
print(not 0)            # True
print(not 1)            # False
print(not "")           # True
print(not "hello")      # False
print(not [])           # True
print(not [1, 2])       # False

# Practical examples
# Input validation
user_input = ""
if not user_input:
    print("Input cannot be empty")

# Check if list is empty
items = []
if not items:
    print("No items found")

# Toggle boolean
is_active = True
is_active = not is_active
print(is_active)  # False

False
True
True
False
True
False
True
False
Input cannot be empty
No items found
False

In [ ]:
# Operator precedence: not > and > or
print(True or False and False)    # True (and has higher precedence)
print((True or False) and False)  # False (parentheses change order)

# Complex expressions
a, b, c = True, False, True
result = not a or b and c
print(result)  # False (equivalent to (not a) or (b and c))

# Use parentheses for clarity
clear_result = (not a) or (b and c)
print(clear_result)  # False

True
False
False
False

In [ ]:
# Multiple conditions
age = 25
has_license = True
has_car = False

can_drive = age >= 18 and has_license
print(f"Can drive: {can_drive}")  # True

# Complex eligibility check
is_eligible = (age >= 18 and has_license) or (has_car and age >= 16)
print(f"Is eligible: {is_eligible}")  # True

# String validation
username = "user123"
password = "pass"
is_valid = bool(username and password)  # Convert to boolean
print(f"Is valid: {is_valid}")  # True

Can drive: True
Is eligible: True
Is valid: True

In [ ]:
# 1. Configuration with defaults
config = {'timeout': 30}
timeout = config.get('timeout') or 60
Cookies = config.get('Cookies') or 3
print(f"Timeout: {timeout}, Cookies: {Cookies}")

Timeout: 30, Cookies: 3

In [ ]:
# 2. Safe data access
data = {'user': {'profile': {'name': 'Alice'}}}
name = data.get('user') and data['user'].get('profile') and data['user']['profile'].get('name')
print(name)
print(bool(data['user']['profile'].get('name')))

Alice
True

In [ ]:
# 3. Input validation (without functions)
username = "alice"
email = "alice@email.com"
password = "secret123"

# Validate input
is_valid = (username and len(username) >= 3 and
            email and '@' in email and
            password and len(password) >= 8)

print(is_valid)  # True

True

In [ ]:
username2 = "a"
email2 = "invalid"
password2 = "short"

is_valid2 = (username2 and len(username2) >= 3 and
             email2 and '@' in email2 and
             password2 and len(password2) >= 8)

print(is_valid2)  # False

False

In [ ]:
# 4. Feature flags (without functions)
features = {'dark_mode': True, 'notifications': False}

feature_name = 'dark_mode'
is_enabled = features.get(feature_name) or False
print(is_enabled)  # True

feature_name2 = 'analytics'
is_enabled2 = features.get(feature_name2) or False
print(is_enabled2)  # False

True
False

#Practice Questions

In [ ]:
# What will these print?
print(5 + 3.2)          # ?
print(True + False)     # ?
print(True + 10)        # ?
print(1 + 2 + 3.0)      # ?

In [ ]:
# Predict the outputs
print("5" + "3")        # ?
print(5 + int("3"))     # ?
print(str(5) + "3")     # ?
print("Hello" + 3)      # ?

In [ ]:
# What happens here?
a = [1, 2, 3]
b = [4, 5]
print(a + b)            # ?
print(a + [b])          # ?
print([a] + [b])        # ?

In [ ]:
# Guess the results
t1 = (1, 2)
t2 = (3,)
print(t1 + t2)          # ?
print(t2 + t1)          # ?
print((1) + (2))        # ?
print((1,) + (2,))      # ?

In [ ]:
# What gets printed?
print(2 + 3 * 4)        # ?
print((2 + 3) * 4)      # ?
print(2 + 3 + 4 * 5)    # ?

In [ ]:
# Predict these outputs
x = 5
print(x + x + x)        # ?
print(x + (x + x))      # ?

In [ ]:
# What do these really equal?
print(0.1 + 0.2)        # ?
print(0.1 + 0.2 == 0.3) # ?

In [ ]:
# How does Python handle these?
print(float('inf') + 5) # ?
print(float('-inf') + float('inf')) # ?
print(float('nan') + 5) # ?

In [ ]:
# What happens here?  # Concept of Local Variable & Global Variable
x = 10
def test():
    x = 5
    print(x + 2)        # ?

test()
print(x + 2)            # ?

In [ ]:
# Spot the difference
a = [1, 2]
b = a
a = a + [3]             # What is b now?
print(b)                # ?

a = [1, 2]
b = a
a += [3]                # What is b now?
print(b)                # ?

In [ ]:
# Boolean arithmetic
print(True + True)      # ?
print(True + True + True) # ?
print(False + False)    # ?

In [ ]:
# Complex math
c1 = 2 + 3j
c2 = 1 - 2j
print(c1 + c2)          # ?
print(c1 + 5)           # ?

In [ ]:
# # Type error or not?
# try:
#     print([1, 2] + (3, 4))  # ?
# except TypeError as e:
#     print(f"Error: {e}")

In [ ]:
# Adding nothing
print([] + [])          # ?
print("" + "")          # ?
print(() + ())          # ?

In [ ]:
# Adding to identity
print(0 + 5)            # ?
print([] + [1, 2, 3])   # ?
print("" + "hello")     # ?

In [ ]:
# string multiplication
text = "hi"

result_1  = text * 0    # ?
result_2 = text * -1    # ?
print(f"String * 0: '{text}' * 0 = '{result_1}'")
print(f"String * -1: '{text}' * -1 = '{result_2}'")

In [ ]:
print(5 * 3.2)          # ?
print(True * False)     # ?
print(True * 10)        # ?
print(2 * 3.0 * 4)      # ?

In [ ]:
print("5" * 3)          # ?
print("" * 10)          # ?
print(5 * "3")          # ?
print("Hello" * 0)      # ?
print("Hi" * -1)        # ?

In [ ]:
a = [1, 2]
print(a * 3)            # ?
print([a] * 2)          # ?
print([] * 5)           # ?

In [ ]:
print(float('inf') * 0) # ?
print(float('nan') * 5) # ?

In [ ]:
print(True * True)      # ?
print(False * False)    # ?
print(True * 5 + False * 3) # ?

In [ ]:
c = 2 + 3j
print(c * 2)            # ?
print(c * (1 + 0j))     # ?

In [ ]:
x = 2
print(x * x * x)        # ?
print(2 * 3 * 4.0)      # ?

In [ ]:
print(1/0.0)            # ?

In [ ]:
# 1) Compound Interest Quiz
principal = 1000
rate = 0.05  # 5% interest
years = 10
amount = principal * (1 + rate) ** years
print("1) What will be the compound amount after 10 years? ")
print(f"   Formula: A = P * (1 + r) ** t")
print(f"   Answer: ${amount:.2f}\n")

# 2) Population Growth Quiz
initial_population = 1000
growth_rate = 1.02  # 2% yearly growth
years = 5
future_population = initial_population * growth_rate ** years
print("2) What will the population be after 5 years if it grows 2% each year? ")
print(f"   Formula: P_future = P_initial * (growth_rate) ** years")
print(f"   Answer: {future_population:.0f} people\n")

# 3) Physics Kinetic Energy Quiz
mass = 10       # kg
velocity = 5    # m/s
kinetic_energy = 0.5 * mass * velocity ** 2
print("3) What is the kinetic energy of a 10 kg object moving at 5 m/s?")
print(f"   Formula: KE = 0.5 * m * v ** 2")
print(f"   Answer: {kinetic_energy} Joules")

In [ ]:
print(5 == 5.0)                  # ?
print(5 == "5")                  # ?
print(True == 1)                 # ?

In [ ]:
print(0.1 + 0.2 == 0.3)          # ?
print(0.1 + 0.2)                 # ?

In [ ]:
print(0.0 == -0.0)               # ?
print(float('inf') > float('nan')) # ?
print([1, 2, 3] < [1, 2, 4])     # ?
print("" == False)                # ?

1. Shopping Cart Calculations: A customer purchases three items priced at 25.99, 15.50, and 8.75 with an 8% tax rate. Calculate the subtotal by adding all item prices, then multiply the subtotal by 0.08 to find the tax amount, and finally add the subtotal and tax amount to get the total cost.

2. Temperature Conversion: Convert 25 degrees Celsius to Fahrenheit using the formula (C × 9/5) + 32, then convert 77 degrees Fahrenheit back to Celsius using (F - 32) × 5/9, Print this (rounding to one decimal place).

3. Recipe Scaling: A recipe requires 2 cups flour, 1 cup sugar, 2 eggs, and 0.5 cups milk. Scale all ingredients by multiplying each by 4 to serve four times more people, showing the new quantities for each ingredient.

4. Student Grade Calculation: A student scored 85, 92, and 78 on quizzes, 88 on midterm, and 95 on final exam. Calculate quiz average by summing quiz scores and dividing by 3, then calculate overall grade using weights: 30% quiz average, 30% midterm, and 40% final exam.

5. Travel Distance and Time: Calculate travel time for a 350 km trip at 80 km/h speed by dividing distance by speed, then convert the decimal hours to hours and minutes by taking the integer part for hours and multiplying the decimal part by 60 for minutes.

6. Inventory Management: Track product inventory starting with 150 items, then subtract 87 items sold, add 5 items returned, and add 50 new shipment items to calculate current stock level.

7. Cooking Measurements Conversion: Convert 3 tablespoons to teaspoons by multiplying by 3 (since 1 tablespoon = 3 teaspoons), and convert 2 cups to fluid ounces by multiplying by 8 (since 1 cup = 8 fluid ounces).

8. Sports Statistics: Calculate a basketball player's averages per game over 82 games by dividing total points (2015) by games played for points per game, total rebounds (845) by games for rebounds per game, and total assists (512) by games for assists per game.

9. Weight Conversion: Convert 180 pounds to kilograms by multiplying by 0.453592, and convert 75 kilograms back to pounds by dividing by 0.453592, both rounded to one decimal place.

10. Photo Resizing: Resize a 4000 × 3000 pixel photo to 25% of original size by multiplying both dimensions by 0.25, then calculate the aspect ratio by dividing original width by original height.

In [ ]:
# Customer purchases
item1_price = 25.99
item2_price = 15.50
item3_price = 8.75
tax_rate = 0.08  # 8%

# Calculate subtotal
subtotal = item1_price + item2_price + item3_price
# Calculate tax amount
tax_amount = subtotal * tax_rate
# Calculate total
total = subtotal + tax_amount

print(f"Subtotal: ${subtotal:.2f}")
print(f"Tax: ${tax_amount:.2f}")
print(f"Total: ${total:.2f}")

Subtotal: $50.24
Tax: $4.02
Total: $54.26

In [ ]:
# Convert Celsius to Fahrenheit
celsius = 25
fahrenheit = (celsius * 9/5) + 32

print(f"{celsius}°C = {fahrenheit}°F")

# Convert Fahrenheit to Celsius
fahrenheit = 77
celsius = (fahrenheit - 32) * 5/9

print(f"{fahrenheit}°F = {celsius:.1f}°C")

25°C = 77.0°F
77°F = 25.0°C

In [ ]:
# Original recipe
flour_cups = 2
sugar_cups = 1
eggs = 2
milk_cups = 0.5

# Scale for 4 times the servings
serving_multiplier = 4

scaled_flour = flour_cups * serving_multiplier
scaled_sugar = sugar_cups * serving_multiplier
scaled_eggs = eggs * serving_multiplier
scaled_milk = milk_cups * serving_multiplier

print(f"For {serving_multiplier} servings:")
print(f"Flour: {scaled_flour} cups")
print(f"Sugar: {scaled_sugar} cups")
print(f"Eggs: {scaled_eggs}")
print(f"Milk: {scaled_milk} cups")

For 4 servings:
Flour: 8 cups
Sugar: 4 cups
Eggs: 8
Milk: 2.0 cups

In [ ]:
# Student scores
quiz1 = 85
quiz2 = 92
quiz3 = 78
midterm = 88
final_exam = 95

# Calculate average
quiz_avg = (quiz1 + quiz2 + quiz3) / 3
total_avg = (quiz_avg * 0.3) + (midterm * 0.3) + (final_exam * 0.4)

print(f"Quiz Average: {quiz_avg:.1f}%")
print(f"Overall Grade: {total_avg:.1f}%")

Quiz Average: 85.0%
Overall Grade: 89.9%

In [ ]:
# Trip planning
distance_km = 350  # kilometers
speed_kmh = 80     # kilometers per hour

# Calculate travel time
travel_time_hours = distance_km / speed_kmh
# Convert to hours and minutes
hours = int(travel_time_hours)
minutes = (travel_time_hours - hours) * 60

print(f"Distance: {distance_km} km")
print(f"Speed: {speed_kmh} km/h")
print(f"Estimated travel time: {hours} hours {minutes:.0f} minutes")

Distance: 350 km
Speed: 80 km/h
Estimated travel time: 4 hours 22 minutes

In [ ]:
# Product inventory
initial_stock = 150
items_sold = 87
items_returned = 5
new_shipment = 50

# Calculate current stock
current_stock = initial_stock - items_sold + items_returned + new_shipment

print(f"Initial stock: {initial_stock}")
print(f"Items sold: {items_sold}")
print(f"Items returned: {items_returned}")
print(f"New shipment: {new_shipment}")
print(f"Current stock: {current_stock}")

Initial stock: 150
Items sold: 87
Items returned: 5
New shipment: 50
Current stock: 118

In [ ]:
# Convert tablespoons to teaspoons
tablespoons = 3
teaspoons_per_tablespoon = 3
teaspoons = tablespoons * teaspoons_per_tablespoon

# Convert cups to fluid ounces
cups = 2
ounces_per_cup = 8
fluid_ounces = cups * ounces_per_cup

print(f"{tablespoons} tablespoons = {teaspoons} teaspoons")
print(f"{cups} cups = {fluid_ounces} fluid ounces")

3 tablespoons = 9 teaspoons
2 cups = 16 fluid ounces

In [ ]:
# Basketball player stats
games_played = 82
points_total = 2015
rebounds_total = 845
assists_total = 512

# Calculate averages per game
points_per_game = points_total / games_played
rebounds_per_game = rebounds_total / games_played
assists_per_game = assists_total / games_played

print(f"Games played: {games_played}")
print(f"Points per game: {points_per_game:.1f}")
print(f"Rebounds per game: {rebounds_per_game:.1f}")
print(f"Assists per game: {assists_per_game:.1f}")

Games played: 82
Points per game: 24.6
Rebounds per game: 10.3
Assists per game: 6.2

In [ ]:
# Room dimensions for flooring
room_length = 4.5  # meters
room_width = 3.2   # meters
tile_size = 0.6    # square meters per tile

# Calculate area and number of tiles needed
room_area = room_length * room_width
tiles_needed = room_area / tile_size
# Add 10% extra for waste
extra_tiles = tiles_needed * 0.10
total_tiles = tiles_needed + extra_tiles

print(f"Room area: {room_area:.2f} square meters")
print(f"Tiles needed: {tiles_needed:.1f}")
print(f"Extra (10%): {extra_tiles:.1f}")
print(f"Total tiles to buy: {total_tiles:.0f}")

In [ ]:
# Household electricity usage
kwh_rate = 0.12  # $ per kWh
daily_usage = 15  # kWh per day
days_in_month = 30

# Calculate monthly cost
monthly_usage = daily_usage * days_in_month
monthly_cost = monthly_usage * kwh_rate

print(f"Daily usage: {daily_usage} kWh")
print(f"Monthly usage: {monthly_usage} kWh")
print(f"Monthly cost: ${monthly_cost:.2f}")

In [ ]:
# Convert pounds to kilograms
pounds = 180
kilograms = pounds * 0.453592

# Convert kilograms to pounds
kg = 75
lbs = kg / 0.453592

print(f"{pounds} pounds = {kilograms:.1f} kilograms")
print(f"{kg} kilograms = {lbs:.1f} pounds")

180 pounds = 81.6 kilograms
75 kilograms = 165.3 pounds

In [ ]:
# Original photo dimensions
original_width = 4000
original_height = 3000

# Resize to 25% of original
scale_factor = 0.25
new_width = original_width * scale_factor
new_height = original_height * scale_factor

print(f"Original: {original_width} x {original_height}")
print(f"Resized (25%): {new_width:.0f} x {new_height:.0f}")

# Calculate aspect ratio
aspect_ratio = original_width / original_height
print(f"Aspect ratio: {aspect_ratio:.2f}")

Original: 4000 x 3000
Resized (25%): 1000 x 750
Aspect ratio: 1.33