In [54]:
import pandas as pd

list_of_numbers = [x for x in range(0,5)]
print(len(list_of_numbers))

#Series can be used when data is one dimesional and DataFrame in pandas can be used for two dimensional 
df_Series = pd.Series(list_of_numbers)
df_DataFrame = pd.DataFrame(list_of_numbers)
print(f"The series is single column style data as below .\n{df_Series}, The DataFrame is row x columns format as below .\n{df_DataFrame}")

#Use name ='Column_name' for Series and index = [] for custom values
#Use column =[] and index =[] to assign column and index for custom values while creation of DataFrame
custom_columns = ["col_1"]
index_custom = ["row_"+str(i) for i in range(len(list_of_numbers))]

df_Series = pd.Series(list_of_numbers, name= 'Col_1', index=index_custom )  #pass directly as single column
print(f"Series with custom column name and indices .\n{df_Series}")

df_DataFrame = pd.DataFrame(list_of_numbers, columns=custom_columns, index=index_custom)  #pass the list of columns
print(f"DataFrame with custom columns and indices .\n{df_DataFrame}")


#Lets Load a DataFrame from a csv file
df_customers_sample = pd.read_csv("../customers.csv", nrows=10) #good practice to intially load 10 lines to see the data nrows help with that
print(df_customers_sample.head())
#Lets check the memory and optimize for processing
df_customers = pd.read_csv("../customers.csv")
df_customers.info(memory_usage='deep')  #shows the data type and memory in this case 45 MB
#Lets create a copy and see if we can reduce the memory by changing data types
#from object to Category can be applied to columns with repeating values say gender 
df_customers_copy = df_customers.copy()
df_customers_copy["gender"] = df_customers_copy["gender"].astype("category")
df_customers_copy.info(memory_usage='deep') #shows memory reduced to 40 MB


#THE ABOVE IS A GOOD STRATEGY TO PREPARE DATA WITH USER FRIENDLY COLUMNS, INDICES AND COMPUTE FRIENDLY MEMORY REDUCTION.

5
The series is single column style data as below .
0    0
1    1
2    2
3    3
4    4
dtype: int64, The DataFrame is row x columns format as below .
   0
0  0
1  1
2  2
3  3
4  4
Series with custom column name and indices .
row_0    0
row_1    1
row_2    2
row_3    3
row_4    4
Name: Col_1, dtype: int64
DataFrame with custom columns and indices .
       col_1
row_0      0
row_1      1
row_2      2
row_3      3
row_4      4
                                     id                    name  \
0  410b7643-868d-4f64-98ca-cd2a86acd83c     Andrew Dale Watsica
1  6380fbbd-800f-4c35-9928-f0c8aca5df53  Cordia Lilian Leuschke
2  5b60b210-e740-4140-9eff-45aaf4aa8b7c              Sarai King
3  229395c9-e9cd-4c98-bd3b-b7fc83bfa254           Cory Jones
4  b869896c-a392-44b1-a70d-04e810147d55            Margot Haley

                             email       phone  \
0             bentonboyer@torp.org  4393406158
1            kailynryan@stamm.name  2339956179
2  valentinkuvalis@breitenberg.com  9722544073
3           robertoebert@braun.biz  8130669685
4            reecebeer@labadie.com  2751408361

                                             address gender
0    8755 South Estatesfurt, San Diego, Nevada 27757      M
1     5987 Manorsmouth, Greensboro, New Mexico 35353      M
2  14548 East Heightsview, Durham, Connecticut 75139      M
3    42058 Stravenuemouth, Chesapeake, Florida 36998      M
4               1709 Manorport, Laredo, Kansas 11032      M
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   name     100000 non-null  object
 2   email    100000 non-null  object
 3   phone    100000 non-null  object
 4   address  100000 non-null  object
 5   gender   100000 non-null  object
dtypes: object(6)
memory usage: 45.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   name     100000 non-null  object
 2   email    100000 non-null  object
 3   phone    100000 non-null  object
 4   address  100000 non-null  object
 5   gender   100000 non-null  category
dtypes: category(1), object(5)
memory usage: 39.9 MB

In [10]:
#TRANSFORMATIONS
# SOME NICE METHODS FROM PANDAS iloc, filter , map , groupby, reduce, merge, missing values and many more....
import pandas as pd
df = pd.DataFrame({
    'id': [x for x in range(11)],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three','four', 'five', 'four'],
    'C': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]})
print("Original DataFrame:")
print(df)
print("First 5 rows using iloc:")
print(df.iloc[0:5]) 
print("Filter columns B and C:")
print(df.filter(items=['B', 'C']))  #filter columns by names
print("map function to create new column D by doubling values in column C: ")
df['D'] = df['C'].map(lambda x: x * 2)  #map function to create new column
print("DataFrame after mapping new column D:")
print(df)
grouped = df.groupby('B').sum().reset_index()  #group by column B and sum others
print("Grouped DataFrame by column B with sum:")
print(grouped)
grouped_c = df.groupby('B')['C'].sum().reset_index()  #group by column B and sum of C
print(grouped_c)
#Handling missing values
df_with_nan = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4]})
print("DataFrame with NaN values:")
print(df_with_nan)
df_filled = df_with_nan.fillna(0)  #fill NaN with 0
print("DataFrame after filling NaN values with 0:")
print(df_filled)

Original DataFrame:
    id      B   C
0    0    one   1
1    1    one   2
2    2    two   3
3    3  three   4
4    4    two   5
5    5    two   6
6    6    one   7
7    7  three   8
8    8   four   9
9    9   five  10
10  10   four  11
First 5 rows using iloc:
   id      B  C
0   0    one  1
1   1    one  2
2   2    two  3
3   3  three  4
4   4    two  5
Filter columns B and C:
        B   C
0     one   1
1     one   2
2     two   3
3   three   4
4     two   5
5     two   6
6     one   7
7   three   8
8    four   9
9    five  10
10   four  11
map function to create new column D by doubling values in column C:
DataFrame after mapping new column D:
    id      B   C   D
0    0    one   1   2
1    1    one   2   4
2    2    two   3   6
3    3  three   4   8
4    4    two   5  10
5    5    two   6  12
6    6    one   7  14
7    7  three   8  16
8    8   four   9  18
9    9   five  10  20
10  10   four  11  22
Grouped DataFrame by column B with sum:
       B  id   C   D
0   five   9  10  20
1   four  18  20  40
2    one   7  10  20
3  three  10  12  24
4    two  11  14  28
       B   C
0   five  10
1   four  20
2    one  10
3  three  12
4    two  14
DataFrame with NaN values:
     A    B
0  1.0  NaN
1  2.0  2.0
2  NaN  3.0
3  4.0  4.0
DataFrame after filling NaN values with 0:
     A    B
0  1.0  0.0
1  2.0  2.0
2  0.0  3.0
3  4.0  4.0

In [6]:
#pandas refresh #import datasets, data cleaning, size mutability, reshaping and pivot, manipulation , extraction and statistacal analysis.
#mean , median , mode , p95, p99, rolling average 
import pandas as pd

In [11]:
#refresh pandas feb 12/10/2025
#pandas series
#if u add one str to int series it becomes str datatype object
#size immutable returns a new series always
s = pd.Series([10,20,30,40,50])
print(s)
#s = pd.Series([10,20,30,40,50,'abc'])
#print(s)
print(s.values)
print(s.index)
print(s.name)
s.name='numbers'
print(s)
print(s[0:2])
print(s[2:4])

0    10
1    20
2    30
3    40
4    50
dtype: int64
[10 20 30 40 50]
RangeIndex(start=0, stop=5, step=1)
None
0    10
1    20
2    30
3    40
4    50
Name: numbers, dtype: int64
0    10
1    20
Name: numbers, dtype: int64
2    30
3    40
Name: numbers, dtype: int64

In [16]:
#iloc
print(s.iloc[3])
print(s.iloc[[1,3,4]])

40
1    20
3    40
4    50
Name: numbers, dtype: int64

In [28]:
#index
s.name = 'calories'
index =['apple','banana','grapes','orange','strawberry']
s.index=index
print(s)
print(s['grapes'])
print(s.iloc[1])
#print(s.iloc['grapes']) #iloc only for indexes

apple         10
banana        20
grapes        30
orange        40
strawberry    50
Name: calories, dtype: int64
30
20

In [33]:
print(s.loc['grapes'])  #loc helps with values of custom index
s['apple':'grapes']

30

apple     10
banana    20
grapes    30
Name: calories, dtype: int64

In [43]:
list_sequence =[1,2,3,4,6]
df = pd.Series(list_sequence)
df.name='numbers'
print(df.count())
print(df.max())

5
6

In [49]:
print(df[(df>2)&(df<5)])

2    3
3    4
Name: numbers, dtype: int64

In [51]:
s['apple']=15
print(s)

apple         15
banana        20
grapes        30
orange        40
strawberry    50
Name: calories, dtype: int64

In [21]:
#problem in series #imp
import numpy as np
ser =pd.Series(['a',np.nan,1,np.nan,2])
print(ser.notnull().sum())
print(ser.notnull().max())

3
True

In [20]:
#dataframe
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice"],
    "Age": [25, 30, 35, np.nan, 29, 25],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "HR"],
    "Salary": [50000, 60000, 70000, 62000, np.nan, 50000]
}

df= pd.DataFrame(data)
print(df)
print('*' * 100)
print(df.iloc[0:1])
print('*' * 100)
print(df.loc[0:1])
print('*' * 100)
print(df.head())
print('*' * 100)
print(df.tail())

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0
****************************************************************************************************
    Name   Age Department   Salary
0  Alice  25.0         HR  50000.0
****************************************************************************************************
    Name   Age Department   Salary
0  Alice  25.0         HR  50000.0
1    Bob  30.0         IT  60000.0
****************************************************************************************************
      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
****************************************************************************************************
      Name   Age Department   Salary
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200